{{define "os"}}
<!DOCTYPE html>
<html lang="en" class="color-toggle-light" color-mode="light">
{{template "head"}}

<body itemscope="" itemtype="https://schema.org/WebPage">
{{template "svg-sprite"}}

<div class="wrapper dark-mode-dim">
    {{template "header"}}

    <main class="container flex flex-even">
        {{template "aside"}}
        <!--- main page --->
        <div class="gdoc-page">
            <!--- header nav --->
            <div class="gdoc-page__header flex flex-wrap justify-between" itemprop="breadcrumb">
                <div>
                    <svg class="icon gdoc_path hidden-mobile"><use xlink:href="#gdoc_path"></use></svg>
                    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                            <a itemscope="" itemtype="https://schema.org/WebPage" itemprop="item" itemid="/v1/rk/tv/system/" href="/v1/rk/tv/system/">
                                <span itemprop="name">System</span>
                                <meta itemprop="position" content="1">
                            </a>
                        </li>
                        <li>/</li>
                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                            <span itemprop="name">OS</span>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </div>
            </div>

            <!--- content --->
            <article class="gdoc-markdown">
                <!--- OS Overview --->
                <div class="highlight">
                    <div class="gdoc-page__anchorwrap">
                        <h1 id="OS"> OS </h1>
                    </div>
                    <!--- content --->
                    <table>
                        <thead>
                        <tr>
                            <th>OS Type</th>
                            <th>Arch</th>
                            <th>Hostname</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ .OsInfo.Os }}</td>
                                <td>{{ .OsInfo.Arch }}</td>
                                <td>{{ .OsInfo.Hostname }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!--- CPU Overview --->
                <div class="highlight">
                    <div class="gdoc-page__anchorwrap">
                        <h2 id="CPU"> CPU </h2>
                    </div>
                    <hr>
                    <blockquote class="gdoc-hint info">
                        <strong>CPU information while process runs.</strong>
                    </blockquote>
                    <!--- content --->
                    <table>
                        <thead>
                        <tr>
                            <th>Used</th>
                            <th>Logical</th>
                            <th>Physical</th>
                            <th>Vendor</th>
                            <th>Model</th>
                            <th>MHZ</th>
                            <th>Cache</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ .CpuInfo.CpuUsedPercentage }}%</td>
                                <td>{{ .CpuInfo.LogicalCoreCount }}</td>
                                <td>{{ .CpuInfo.PhysicalCoreCount }}</td>
                                <td>{{ .CpuInfo.VendorId }}</td>
                                <td>{{ .CpuInfo.ModelName }}</td>
                                <td>{{ .CpuInfo.Mhz }}</td>
                                <td>{{ .CpuInfo.CacheSize }} bytes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!--- Memory Overview --->
                <div class="highlight">
                    <div class="gdoc-page__anchorwrap">
                        <h2 id="Memory"> Memory </h2>
                    </div>
                    <hr>
                    <blockquote class="gdoc-hint info">
                        <strong>Memory information while process runs.</strong>
                    </blockquote>
                    <!--- content --->
                    <table>
                        <thead>

                        <tr>
                            <th>Used %</th>
                            <th>Used MB</th>
                            <th>Mem Alloc</th>
                            <th>Sys Alloc</th>
                            <th>Last GC</th>
                            <th>GC Count</th>
                            <th>GC Count Force</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ .MemInfo.MemUsedPercentage }}%</td>
                                <td>{{ .MemInfo.MemUsedMb }} MB</td>
                                <td>{{ .MemInfo.MemAllocByte }}</td>
                                <td>{{ .MemInfo.SysAllocByte }}</td>
                                <td>{{ .MemInfo.LastGcTimestamp }}</td>
                                <td>{{ .MemInfo.GcCount }}</td>
                                <td>{{ .MemInfo.ForceGcCount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <!--- Network Overview --->
                <div class="highlight">
                    <div class="gdoc-page__anchorwrap">
                        <h2 id="Network"> Network </h2>
                    </div>
                    <hr>
                    <blockquote class="gdoc-hint info">
                        <strong>Network information while process runs.</strong>
                    </blockquote>
                    <!--- content --->
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>MTU</th>
                            <th>MAC</th>
                            <th>Flags</th>
                            <th>Addr</th>
                            <th>Multicast Addr</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{ range .NetInfo.NetInterface }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Mtu }}</td>
                                <td>{{ .HardwareAddr }}</td>
                                <td>
                                    {{ range .Flags}}
                                    <li>{{.}}</li>
                                    {{ end }}
                                </td>
                                <td>
                                    {{ range .Addrs}}
                                    <li>{{.}}</li>
                                    {{ end }}
                                </td>
                                <td>
                                    {{ range .MulticastAddrs}}
                                    <li>{{.}}</li>
                                    {{ end }}
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </main>
    {{template "footer"}}
</div>
</body>
</html>
{{end}}